/* You can add global styles to this file, and also import other style files */
@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@300;400;700&family=Montserrat:ital,wght@0,300;0,700;0,900;1,400&display=swap');

body{
    font-family: 'IBM Plex Sans', sans-serif;
    background-image: url('https://salient.tailwindui.com/_next/static/media/background-features.5f7a9ac9.jpg');
    background-size: cover;
}